.ventanaempleado {
    display: flex;
    height: 100vh;
    background-color: #f4f7fc; /* Fondo suave */
}

.textoempleado {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorempleado {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
    height: 300px; /* Más espacio para el contenido */
    width: 100%;
    max-width: 500px; /* Contenedor más ancho */
}

.contenedorempleado h3 {
    font-size: 30px;
    font-weight: 600;
    color: #4caf50; /* Color atractivo */
    margin-bottom: 20px;
}

.contenedorempleado p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
}

.contenedorempleado .iconos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icono {
    font-size: 30px;
    color: #4caf50;
    transition: transform 0.3s ease;
}

.icono:hover {
    transform: scale(1.2); /* Efecto de aumento */
}

@media (max-width: 768px) {
    .contenedorempleado {
        max-width: 100%;
        padding: 20px;
    }
}
