.ventanatareas {
    display: flex;
    height: 100vh;
}

.contenedortareas {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cajatareas {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.botonusuario {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.botoncrear, .botonlistar {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

.botoncrear {
    background-color: #007bff;
}

.botonlistar {
    background-color: green;
}
